* {
    box-sizing: border-box;
}
nav a:hover {
    text-decoration: underline;
    color: #d84d1f;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
/*navigation */
nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

nav input {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.report-section {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.form-section {
    display: flex;
    align-items: flex-start;
}

.form-section img {
    height: 200px;
    margin-right: 20px;
}

.form-container {
    width: 100%;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group small {
    display: block;
    margin-top: 5px;
    color: #666;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.cancel-button {
    background-color: #ccc;
    color: #000;
}

.submit-button {
    background-color: #000;
    color: #fff;
}

/* lost dog report */
.reports-section {
    margin-top: 20px;
}

.reports-section h2 {
    margin-bottom: 20px;
}

.report {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.report img {
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
}

.report-details {
    display: flex;
    flex-direction: column;
}

.report-details h3 {
    margin: 0 0 10px;
}

.report-details p {
    margin: 5px 0;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}