* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
nav a:hover {
    text-decoration: underline;
    color: #d84d1f;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.search input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hero {
    background-color: #6BAF92;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.registration-form {
    background-color: #fff;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
    margin-bottom: 10px;
    text-align: center;
}

.registration-form p {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-group,
.radio-group {
    display: flex;
    gap: 10px;
}

.checkbox-group label,
.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-group input[type="checkbox"],
.radio-group input[type="radio"] {
    accent-color: lightgrey;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #555555;
}


