body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

header .logo h1 {
    font-size: 24px; /* Decreased size */
    margin-left: -10px; /* Adjust as needed */
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}
header nav a:hover {
    text-decoration: underline;
    color: #d84d1f;
}

header nav input {
    padding: 5px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #7bb3eb;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #7bb3eb;
}
.hero-content {
    flex: 1;
    margin-right: 20px;
}


.hero-image img {
    max-width: 50%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.registration {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.registration h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.registration p {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.notification {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
}

.banner {
    width: 100%;
    margin: 20px 0;
}

.banner img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
